/ipnd/stage_3/prank
/ipnd/stage_3/prank.zip

/fsnd/1_programming_fundamentals_and_the_web/5_send_text_messages/twilio_auth.py
/fsnd/1_programming_fundamentals_and_the_web/17_blog_image_optimization/node_modules



*.pyc
