{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <p>
            Hmm, looks like you haven't quite understood the exact workings of
            the guestbook, so let me spill it out: You type text into box, then
            press funny button.
        </p>
        <p>
            The AI of this app detected that you are undecided between the
            following two responses. Please pick one at random (don't try to
            click both at the same time, it won't work) and pray you made the
            right choice.
        </p>
        <a href="/guestbook">
            YES SIR! Please don't give up on me!
        </a>
        <br>
        <br>
        <a href="https://media.giphy.com/media/FGueSZqNtTcZi/giphy.gif">
            Huh? Which guestbook and whats with the strange
            HaaAAaaaAAAAhhhhhHHAHahahahaaht
        </a>
    </body>
</html>
{% endblock %}
