<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row top-menu">
                    <div class="col-md-4">
                        <h1>Sports Catalog App</h1>
                    </div>
                    <div class="col-md-6 text-center vertical-center">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                {% for message in messages %}
                                    <li> <strong> {{ message }} </strong> </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-2 text-right vertical-center">
                        {% if 'username' not in session %}
                            <a class="btn btn-lg btn-primary" href="{{url_for('login')}}">Click here to log in</a>
                        {% else %}
                            <a class="btn btn-lg btn-primary" href="{{url_for('logout')}}">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <body>
    </body>
</html>