{% extends "base.html" %}

{% block content %}
<form>
    <h2>Add a Food</h2>
    <input type="text" name="food">
    {% if items %}
        {% for item in items %}
            <input type="hidden" name="food" value="{{item}}">
        {% endfor %}
    {% endif %}
    <button>Add</button>

    {% if items %}
        <br>
        <br>

        <h2>Shopping List</h2>
        <ul>
            {% for item in items %}
<!-- the "| escape" escapes the values individually, but it is better to use
autoescape = True when Jinja is initialized-->
                <!-- <li>{{ item | escape}}</li> -->
<!-- the "| safe" allows you to take html input even if autoescape = True is
set-->
                <!-- <li>{{ item | safe}}</li> -->

                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>

{% endblock %}
