{% extends "base.html" %}

{% block content %}
    <h1>Basic Blog</h1>

    {% if logged_in %}
        <div>
            To log out, please click <a href="http://udacity-fsnd-47213.appspot.com/blog/logout">here<a>
        </div>
        <div>
            To create a new post, please click <a href="http://udacity-fsnd-47213.appspot.com/blog/newpost">here<a>
        </div>
        {% else %}
        <div>
            To log in, please click <a href="http://udacity-fsnd-47213.appspot.com/blog/login">here<a>
        </div>

        <div>
            To sign up, please click <a href="http://udacity-fsnd-47213.appspot.com/blog/signup">here<a>
        </div>
    {% endif %}

    <hr>
    <hr>
    <hr>

    {% if posts %}
        {% for post in posts %}
            <div>
                <h3><a href="http://udacity-fsnd-47213.appspot.com/blog/{{post.key().id()}}">{{post.subject}}<a></h3>
                <div>
                    Created by {{post.created_by.name}} on {{post.created_at.strftime('%a, %d %b %Y, %H:%M')}} UTC
                </div>
                <pre>{{post.content}}</pre>

                {% if post.created_at.replace(microsecond=0) != post.updated_at.replace(microsecond=0) %}
                    <div>
                        This post was last edited by the author on {{post.updated_at.strftime('%a, %d %b %Y, %H:%M')}} UTC
                    </div>
                {% endif %}

                <div>
                    The vote balance of this post is: {{post.votes}}
                </div>
                <div>
                    Logged in users can <a href="http://udacity-fsnd-47213.appspot.com/blog/upvote/{{post.key().id()}}">Upvote<a> or
                    <a href="http://udacity-fsnd-47213.appspot.com/blog/downvote/{{post.key().id()}}">Downvote<a>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
